@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rotate {
  // animation: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  // width: 100px;
  // height: 100px;
  // background-color: red;
  // animation-name: example;
  // animation-duration: 4s;
  // animation-iteration-count: infinite;

  animation: rotation 1s linear 2s infinite;
}
