.carousel-wrapper {
  width: 50%;
  height: 300px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .slider-button {
    font-size: 2rem;
  }

  .slider-button:hover {
    color: rgb(80, 80, 80);
    cursor: pointer;
  }

  img {
    height: 200px;
    width: 100px;
  }

  .image-left {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
  }

  .image-center {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 250px;
      width: 150px;
    }
  }

  .image-right {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
  }
}
