.carousel-wrapper {
  width: 80%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 200px;
    width: 100px;
  }

  .image-left {
    height: 100%;
    width: 100px;
  }

  .image-center {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 250px;
      width: 150px;
    }
  }

  .image-right {
    height: 100%;
    width: 100px;
  }
}
