$highlight: lightblue;

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: sans-serif;

  .App {
    .navbar-wrapper {
      height: 100px;
      width: 100vw;
      display: flex;
      background-color: black;
      color: white;

      .navbar-left {
        width: 30%;
        @include flex-center();
      }

      .navbar-center-spacer {
        width: 30%;
      }

      .navbar-right {
        width: 30%;
        @include flex-center();

        .active {
          // text-decoration: underline;
          color: $highlight;
        }

        a {
          text-decoration: none;
          color: white;
          margin-left: 30px;
        }

        a:hover {
          color: $highlight;
          transition: 0.3s;
        }
      }
    }

    .login-wrapper {
      width: 100vw;
      height: 80vh;
      @include flex-center();
    }

    .home-page-container {
      height: 80vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;

      .features-row {
        width: 80%;
        display: flex;
        justify-content: space-between;

        .widget-link {
          height: 200px;
          width: 150px;
          border: solid 1px black;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          text-align: center;
          padding-top: 10px;
        }

        .widget-link:hover {
          height: 210px;
          width: 160px;
          font-size: 1.1rem;
          transition: 0.5s;

          cursor: pointer;
        }
      }
    }
  }
}
